
.back-toshop {
    margin-bottom: 15px;
}

.register-form-title {
    margin-bottom: 50px;
}

.register-form-title-text {
    font-weight: bold;
    font-size: 50px;
}

.form-wrapper {
    border: 1px solid #cdcdcd;
    height: 800px;
}

.form-heading {
    height: 5%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #cdcdcd;
}

.form-section-top {
    height: 55%;
    border-bottom: 1px solid #cdcdcd;
    padding: 20px;
}

.form-section-bottom {
    height: 30%;
    border-bottom: 1px solid #cdcdcd;
    padding: 20px;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 10%;
    padding: 20px;
}

#create_customer {
    height: 100%;
}

.form-control {
    padding: 15px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-size: 14px;
}

.submit-button {
    font-size: 14px;
    color: white;
    background-color: #f16e36;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: none;
    transition: color 0.5s ease-out 100ms;
}

.submit-button:hover {
    color: black;
    svg{
        fill: black;
    };
}

#shopify-section-footer-email {
    display: flex;
    align-items: center;
    background-color: #000000;
    height: 300px;
}

.section-title {
    color: #ffffff;
}

.form-email-footer {
    border-radius: 50px;
    width: 500px;
    height: 60px;
    background-color: #000000;
    border: 2px solid #ffffff;
    outline: none;

    &::placeholder {
        color: white;
    }
}

.form-subscribe-footer {
    position: relative;
    z-index: 1;
}

.submit-email-footer {
    position: absolute;
    background: white;
    color: black;
    border-radius: 100%;
    right: 0;
    top: 10%;
    width: 50px;
    height: 50px;
    transform: translateX(-10%);
    border:none;
}


.form-email-footer:focus {
    
    background-color: #000000;
    color: white;
    font-size: 14px;
}

.copyright {
    margin-top: 15px;
    margin-bottom: 15px;
}

