body {
    background-image: url('hinhnen.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 100px;
    margin: 100px auto;
    max-width: 800px;
    text-align: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

.bold-left-label {
  font-weight: bold;
  text-align: left;
}

  .center-text {
  text-align: center;
}

.large-text {
  font-size: 25px;
}

