#section-content {
    width: 82%;
}

.dashboard {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f8f8f8;
}

.dashboard-top {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

.total-sale{
    margin: 15px 0 0 27px;
}
.total-revenue{
    margin: 15px 0 0 20px;
}


.dashboard-bottom {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    
}

.total {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-top-left-radius: 20px;
    
}
.summary{
    margin-top: 60px;
}

.total-button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.total-button button {
    width: 120px;
    margin: 0 auto;
}

.total h3 {
    display: inline-block;
}

.total-sale {
    height: 200px;
    background-color: #d1d2f8;
    border-radius: 20px;
}

.total-revenue {
    background-color: #ded2fc;
    border-radius: 20px;
}

.total-sale-content {
    margin: 40px auto;
    text-align: center;
}

.total-title {
    font-size: 30px;
    text-align: center;
}

.total-value {
    font-size: 50px;
}

.order-recently{
    border-top-right-radius: 20px;
    max-height: none; /* Đặt chiều cao tối đa cho container */
    overflow-y: auto; /* Tạo thanh cuộn dọc khi nội dung vượt quá chiều cao */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

th {
    background-color: #f2f2f2;
  }

.admin-information-content{
    margin: 20px auto 0 auto;
    text-align: center;
}

.top-products {
    margin-top: -150px;
}

.order-recently {
    margin-top: -150px;
}

td {
    height: 70px;
}

table {
    display: block;
}

.admin-information-content {
    margin-top: 100px;
    margin-bottom: 0px;
    display: block;
}
