.announcebar-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.announcebar-right {
    width: 100%;
}

.announce-row {
    display: flex;
    padding: 0;
    height: 50px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.menu-left {
    list-style-type: none;
    display: flex;
    width: 70%;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu-right {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.main-navigationbar
{   position: relative;
    z-index: 9999;
    background-color: rgb(209, 209, 204)
}

.navigationbar-row {
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu-items {
    margin: 0;
    padding: 0;
}

.menu-right-items {
    height: 100%;
    width: 25%;
}

.menu-right-items:nth-child(odd) {
    background-color: #f0f0f0;
}

.menu-right-items:nth-child(4) {
    background-color: #f16e36;
}

.menu-right-items-a {
    width: 100%;
    height: 100%;
    padding: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-left-items-text {
    margin: 0;  
}

.menu-right-items-text {
    margin-bottom: 0;
    margin-left: 5px;
}

.sticky {
    display: none;
}



#content {

}

#content .content-section{
    width: 800px;
    padding: 64px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    
}

#content .section-heading{
    text-align: center;
    font-size: 144.667px;
    font-weight: 700;
    line-height: 88%;
    color: black;
    display: inline-block;

}

#content .section-sub-heading{
    font-size: normal;
    font-weight: 500;
    font-size: 26.1333px;
    line-height: 88%;
    color: #000000;
    text-align: right;
    padding-right: 115px;
}














.card-hiro-row{
    width: 1170px;
    height: 728px;
    padding:  0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 253px 253px 160px;
    grid-auto-rows: minmax(5px, auto);
}

.hiro-column-left-top{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1 ;
    grid-row-end: 3;
    
}
.hiro-column-left-bottom{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3 ;
    grid-row-end: 4;
}
.hiro-column-right-bottom{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2 ;
    grid-row-end: 4;
}

.column-left-bottom{
    background-color: #000000;
    display: grid;
    grid-template-columns: 190px 1fr 1fr 1fr 1fr;
    grid-template-rows: 159px;
    
}

.number{
    margin-top: 10px;
}

b {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 10px 0;
}
.column-left-bottom-title{
    line-height: 140px;
    font-size: 20px;
}

.column-left-bottom-1-text{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
}
.column-left-bottom-2-text{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
}
.column-left-bottom-3-text{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
}
.column-left-bottom-4-text{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.hiro-column-right-bottom{
    background-color: #000000;
}

.column-right-bottom{
    margin: 20px 45px;
}

.column-right-bottom-titlte{
    font-size: 30px;
    font-weight: 900;
    line-height: 100%;
    margin: 50px 0 20px 0;
}
.column-right-bottom-sub-title{
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin: 10px 0;
}
.column-right-bottom-text{
    font-size: 14px;
    margin: 10px 0 40px 0;
}
.column-right-bottom-images{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 44px;
    grid-auto-rows: minmax(5px, auto);
}

























#shopify-section-footer-email {
    display: flex;
    align-items: center;
    background-color: #000000;
    height: 300px;
}

.section-title {
    color: #ffffff;
}

.form-email-footer {
    border-radius: 50px;
    width: 500px;
    height: 60px;
    background-color: #000000;
    border: 2px solid #ffffff;
    outline: none;

    &::placeholder {
        color: white;
    }
}

.form-subscribe-footer {
    position: relative;
    z-index: 1;
}

.submit-email-footer {
    position: absolute;
    background: white;
    color: black;
    border-radius: 100%;
    right: 0;
    top: 10%;
    width: 50px;
    height: 50px;
    transform: translateX(-10%);
    border:none;
}


.form-email-footer:focus {
    
    background-color: #000000;
    color: white;
    font-size: 14px;
}

.copyright {
    margin-top: 15px;
    margin-bottom: 15px;
}

#shopify-section-footer {
    height: 350px;
}

.footer-row {
    height: 100%;
}


.sub-left {
    position: relative;
    transform: translateY(30%);
}

.sub-right {
    position: relative;
    transform: translateY(-30%);
}

.footer-widget {
    height: 100%;
}

.footer-widget-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
}

.footer-widget-list-a {
    color: black; 
}

#shopify-section-footer {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
}

.left-wave {
    height: 300px;
    position: relative;
    transform: translateY(-40%);
}

.footer-list-social {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    margin-top: 15px;
    column-gap: 15px;
    height: 100%;
}




