html {
    width: 100%;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#shopify-section-header {
    background-color: white;
    z-index: 2;
}

.announcebar-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.announcebar-right {
    width: 100%;
}

.announce-row {
    display: flex;
    padding: 0;
    height: 50px;
}


p {
    margin-bottom: 0;
}

.menu-left {
    list-style-type: none;
    display: flex;
    width: 70%;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu-right {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.navigationbar-row {
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu-items {
    margin: 0;
    padding: 0;
}

.menu-right-items {
    height: 100%;
    width: 25%;
}

.menu-right-items:nth-child(odd) {
    background-color: #f0f0f0;
}

.menu-right-items:nth-child(4) {
    background-color: #f16e36;
}

.menu-right-items-a {
    width: 100%;
    height: 100%;
    padding: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-left-items-text {
    margin: 0;  
}

.menu-right-items-text {
    margin-bottom: 0;
    margin-left: 5px;
}

.sticky {
    display: none;
}

.back-button {
    color: black;
}

.register-form {
    padding-top: 80px;
    padding-bottom: 80px;
}

.back-toshop {
    margin-bottom: 15px;
}

.register-form-title {
    margin-bottom: 50px;
}

.register-form-title-text {
    font-weight: bold;
    font-size: 50px;
}

.form-wrapper {
    border: 1px solid #cdcdcd;
    height: 550px;;
}

.form-heading {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #cdcdcd;
}

.form-section-top {
    height: 40%;
    border-bottom: 1px solid #cdcdcd;
    padding: 20px;
}

.form-section-bottom {
    height: 35%;
    border-bottom: 1px solid #cdcdcd;
    padding: 20px;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 15%;
    padding: 20px;
}

#create_customer {
    height: 100%;
}

.form-control {
    padding: 15px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-size: 14px;
}

.submit-button {
    font-size: 14px;
    color: white;
    background-color: #f16e36;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: none;
    transition: color 0.5s ease-out 100ms;
}

.submit-button:hover {
    color: black;
    svg{
        fill: black;
    };
}

#shopify-section-footer-email {
    display: flex;
    align-items: center;
    background-color: #000000;
    height: 300px;
}

.section-title {
    color: #ffffff;
}

.form-email-footer {
    border-radius: 50px;
    width: 500px;
    height: 60px;
    background-color: #000000;
    border: 2px solid #ffffff;
    outline: none;

    &::placeholder {
        color: white;
    }
}

.form-subscribe-footer {
    position: relative;
    z-index: 1;
}

.submit-email-footer {
    position: absolute;
    background: white;
    color: black;
    border-radius: 100%;
    right: 0;
    top: 10%;
    width: 50px;
    height: 50px;
    transform: translateX(-10%);
    border:none;
}


.form-email-footer:focus {
    
    background-color: #000000;
    color: white;
    font-size: 14px;
}

.copyright {
    margin-top: 15px;
    margin-bottom: 15px;
}

#shopify-section-footer {
    height: 350px;
}

.footer-row {
    height: 100%;
}


.sub-left {
    position: relative;
    transform: translateY(30%);
}

.sub-right {
    position: relative;
    transform: translateY(-30%);
}

.footer-widget {
    height: 100%;
}

.footer-widget-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
}

.footer-widget-list-a {
    color: black; 
}

#shopify-section-footer {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
}

.left-wave {
    height: 300px;
    position: relative;
    transform: translateY(-40%);
}

.footer-list-social {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    margin-top: 15px;
    column-gap: 15px;
    height: 100%;
}



