<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="/view/css/admin/categories.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/view/js/admin/categories.js"></script>
    </head>
    <body>
        <header>
            <div class="navbar-header">
                <ul>
                    <li>
                        <div>
                            <a>IT SHOP</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a>Home</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a>About</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a>Product</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a>Product2</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a>Contact</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section>
            <div class="section-title">
                <h2>Product Categories</h2>
                <button type="button" class="btn btn-primary" onclick="NewProduct()">Create New</button>
            </div>
            <div class="section-body">
                <table>
                    <tr class="section-title">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                    
                    {{ range .}}
                    <tr class="section-row">
                        <td class="infor-products">{{ .Id }}</td>
                        <td class="infor-products">
                            {{ .Name }}
                        </td>
                        <td class="name-products">
                            <img src="{{ .Image }}" alt="Error!"> 
                        </td>
                        <td class="infor-products">
                            <p>{{ .Description }}</p>
                        </td>
                        <td class="infor-products">
                            <button type="button" data-product-id="{{ .Id }}" class="btn btn-primary btn-edit">Edit</button>
                            <button type="button" data-product-id="{{ .Id }}" class="btn btn-danger btn-delete">Delete</button>
                        </td>
                    </tr>
                    {{ end }}
                </table>
            </div>
        </section>
    </body>
</html>
